@font-face {
  font-family: 'HelveticaNeueHeavy';
  src: url('./fonts/HelveticaNeueHeavy.otf');
}
@font-face {
  font-family: 'ArchivoBlackRegular';
  src: url('./fonts/ArchivoBlack-Regular.ttf');
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fd6b00bd; /*#fd6b00b0;*/
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: -2px -2px 18px 4px #c95a19a6;
}

#buscador {
    display: flex;
    flex-direction: row;
    /*border: 2px solid #cea665;*/
    background-color: #ff852c36; /*background-color: #fd6b00b0;*/
    /*border-radius: 0px 0px 8px 8px;*/
    justify-content: space-between;
    color: #fff2f2;
    font-weight: bold;
    /*position: fixed;
    top: 0;
    width: 100%;*/ /* ANTERIOR EFECTO SIN LAS CONFIGS NUEVAS EN EL NAV */
    gap: 10px;
    /*backdrop-filter: blur(24px);
    box-shadow: -1px 20px 20px 8px #a16542a6;*/ /* ANTERIOR EFECTO SIN LAS CONFIGS NUEVAS EN EL NAV */
    backdrop-filter: blur(85px);
    box-shadow: inset -1px 20px 20px 8px #a16542a6;

    img {
        user-select: none;
        pointer-events: none;
        height: 36px; /* 28px; */
        margin: 12px;
        width: 250px;
    }

    div {
        display: flex;
        align-items: center;
        gap: 15px;

        .filtroName {
            user-select: none;
        }

        input  {
            text-align: end;
            padding: 4px;
            border-radius: 7px;
            background-color: #fdf3dc;
            border: 2px #d17e00 solid;
            margin-left: 5px;
            color: #d17e00;
        }

        span > button {
            border: 0px;
            background-color: transparent;
            padding: 0px;
            margin-right: 14px;
            font-size: 20px;
            
            & > img {
                user-select: none;
                pointer-events: none;
                width: 22px;
                height: 22px;
            }
        }
    }
}
@media only screen and (max-width: 688px) {
    #buscador {
        .filtroName {
            display: none;
        }

        & div input {
            width: 264px;
        }
    }

}

@media only screen and (max-width: 650px) { /*(max-width: 1344px) {*/
    #buscador {
        flex-direction: column;
        gap: 0px;

        /*& img {
            max-width: 260px;
        }*/

        & div {
            padding-bottom: 5px;
            /*position: relative;
            background-color: #ff852c36;*/
            
            .filtroName {
                display: none;
            }

            input {
                margin-left: 18px;
                width: 100%;
            }
        }
    }
    /*ul {
        grid-template-columns: repeat(auto-fill, 144px) !important;
    }*/
    #contenedorCocktails {
        margin-top: 100px;
    } 

}

div[id="contenedorCocktails"] {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    flex-direction: column;
    padding: 0 14px;

    div {
        margin: 14px;
    }

    p {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-weight: bold;
        font-size: 33px;
        user-select: none;
        background: linear-gradient(90deg, rgba(235, 225, 202, 1) 1%, rgba(224, 194, 135, 1) 70%, rgba(247, 237, 203, 1) 100%);
        color: transparent;
        background-clip: text;
        font-family: 'ArchivoBlackRegular';
        -webkit-text-stroke: 0.7px #9d500d;
    }

    span {
        font-family: 'HelveticaNeueHeavy';
        align-items: center;  
        font-weight: bold;
        font-size: 27px;
        overflow: visible;
        /*color: #3d2f1a;*/
        background: linear-gradient(90deg, rgba(61, 47, 26, 1) 0%, rgba(118, 95, 61, 1) 70%, rgba(61, 47, 26, 1) 100%);
        color: transparent;
        background-clip: text;
    }
}


ul {
  list-style-type: none;
  /*padding: 15px;*/
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  /*overflow-x: overlay;*/
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(308px, 1fr));
  /* grid-template-columns: repeat(auto-fill, 404px); */ /* 420px or 380px */
  gap: 14px;

  li {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 21px; /* 10px */  
    background-color: #fffbf4f0; /*#FFFBF4;*/
    color: white;
    font-family: Helvetica !important;
    font-weight: bold;
    border-radius: 10px;
    justify-content: space-between;
    margin: 8px;

    img {
        background-size: cover;
        height: 14rem;
        /*width: 21.46rem;*/
        width: -webkit-fill-available;
        border-radius: 6px;
        margin: 2px;
    }

    p {
        overflow: auto;
        text-align: center;
        max-width: 148px;
    }

    button[class="btnIdDrink"] {
        font-family: 'ArchivoBlackRegular' !important;
        width: 98%;
        font-size: 22px;
        border: 0px;
        background-color: #645a52;
        border-radius: 12px;
        font-family: monospace;
        font-weight: bold;
        color: wheat;
        padding: 8px;
        margin-top: 6px;
        margin-bottom: 14px;
        transition: 0.4s ease-in;

        &:hover {
            background-color: #806d5e;
            transition: 0.6s ease-in;
        }

    }

  }

}


