/* PROPIEDADES BÁSCIAS: */

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} /* esta parte no hace falta, pero la dejo */

.contenedor {
    display: flex;
    flex-direction: column;
    justify-self: baseline;

    h3 {
        text-align: center; /* hace lo mismo que el justify-content de abajo */
        border: 1px rgb(53, 52, 52) solid;
        border-bottom: 0px;
        padding-top: 22px;
        border-radius: 12px 12px 0px 0px;
        padding-bottom: 12px;
        margin: 0;
        background-color: rgb(133, 131, 131);
        color: white;
        /*display: flex;
        justify-content: center;*/ /* es un elemento flex */
    }

    form {
        display: flex;
        flex-direction: column;
        border: 1px rgb(133, 131, 131) solid;
        border-radius: 0px 0px 15px 15px;
        padding: 12px;
        margin-bottom: 12px;
        background-color: rgb(53, 52, 52);
        color: whitesmoke;
        padding: 30px 50px 15px 50px;
    }

    form div {
        display: flex;
        margin: 10px;

        input {
            padding: 4px;
            height: 25px;
            font-size: 16px;
        }
    }
}

form .inputs {
    flex-direction: column;
}

form .checkboxes {
    /*flex-direction: row;*/
    gap: 4px;
    user-select: none;
    /*justify-content: flex-start;*/
    align-items: center;
}

form button[class="submit"] {
    font-weight: bold;
    align-self: center;
    margin: 4px;
    padding: 10px 17px 10px 17px;
    border: 1px rgb(133, 131, 131) solid;
    background-color: rgb(82, 82, 82);
    color: white;
    border-radius: 8px;
    margin-top: 12px;
    transition:0.5s ease-in;

    /* & -> simboliza el elemento padre, en este caso: & ==> `form button[class="submit"]`*/
    &:hover { 
        background-color: rgb(74, 74, 74);
        border-color: rgb(255, 255, 255);
        transition: 1s ease;
    }

    &::after {
        content: "‼️";
    }
}

/* Se pueden hacer sintaxis de Sass --> SCSS en CSS4 */
/* HECHO POR EL PROFESOR: */
.table_container {
    margin-top: 20px;
    margin-bottom: 4%;

    table {
        border: 1px solid black;
        border-collapse: collapse;
        border-radius: 4px;
        border-style: hidden;
        box-shadow: 0 0 0 1px #000000;
       
        th, td {
            padding: 5px;
            border: 1px solid black;

            span {
                font-size: 18px;
                padding: 0;
            }

            button {
                border: transparent;
                background-color: transparent;
                padding: 0;
                font-size: 17px;
            }
        }
    }
}


/*.buttons {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-around;
    margin-top: 6px;
    border: 0px;
}*/
