<p>Tema 02: Directivas</p>
<ul>
    <!-- <li *ngFor="let animal of animales">{{animal}}</li> --> <!-- Esto se usaba antiguamente, ahora ya no. -->
    
    <!-- El track $index es uan forma de optimizar el como recorre la lista para luego pintarla -->
    @for (animal of animales; track $index) {
        <li>{{animal}}</li>
    } <!-- Al usar track $index para trackear la posicion de la lista en la que se va pintando, no se puede volver a sobreescribir encima dese el DOM -->
</ul>

<div>
    <input type="text" [(ngModel)]="username">
    <input type="text" [(ngModel)]="password">
    <button type="button" (click)="login()"></button>

</div>

@if (estasAutenticado) {
    <p>Bienvenido {{username}}</p>

    @switch (usuarioValido.rol) {
        @case ('premium'){
            <p>Tu suscripción caduca en 32 días.</p>
        }
        @case ('admin'){
            <p>Tu suscripción es ilimitada.</p>
        }
        @default {
            <p>Suscribete para obtener los beneficios.</p>
        }        
    }
}
@else {
    <p>Logueate, por favor.</p>
}

<!-- Esto debe ponerse en el LocalStorage del navegador, para testear la web angular:
SUSCRIPCIONES DEL LOCALSTORAGE:
[{"email":"asd","nombre":"ssss","publi":true,"tyc":true,"datos":true,"num":"9fcc37a0-1dd5-47be-918f-4707bc7ed5d1","fechaSuscripcion":1763482368943},{"email":"asd","nombre":"asdas","publi":false,"tyc":true,"datos":false,"num":"ccb71deb-cc98-4226-b827-816a7b902540","fechaSuscripcion":1763482377863}]
-->
<table>
    <thead>
        <tr>
            <th>Nº</th>
            <th>Email</th>
            <th>TyC</th>
            <th>Publi</th>
            <th>Datos</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <!-- Directivas estructurales que modifican el DOM (@if, @else, @switch, @case, @for) -->
        <!-- Directivas de atributo que modifica el comportamiento de un area (ngClass) -->
        @for (suscripcion of suscripciones; track suscripcion.num) {
            <tr [ngClass]="{esPrimeraFila: $first, esUltimaFila: $last, filaPar: $even, filaImpar: $odd}"> <!-- El ngClass lo que hace es que podemos asignarle clases dependiendo de un boolean si es true o false -->
                <td>{{$index + 1}}</td>
                <td>{{suscripcion.email}}</td>
                <td>{{suscripcion.tyc ? '✔' : '❌'}}</td>
                <td>{{suscripcion.publi ? '✔' : '❌'}}</td>
                <td>{{suscripcion.datos ? '✔' : '❌'}}</td>
                <td>{{suscripcion.fechaSuscripcion}}</td>
            </tr>
        }
    </tbody>
</table>