table {
    border-collapse: collapse;
}

.esPrimeraFila {
    border-top: 1px solid;
}

.esUltimaFila {
    border-bottom: 2px solid #cafe;
}

.filaPar {
    background-color: chocolate;
}

.filaImpar {
    background-color: #fabada;
}

