<!-- <p>producto works!</p> -->
<!-- EJERCICIO:
 Crea una lista de producto que contenga los siguientes elementos:
  - titulo
  - descripcion
  - precio
  - fechaLanzamiento
  - imagen
-->

<div>
    <h1>Ficha del producto:</h1>
    <h4>{{producto.titulo}}</h4> <!-- Pipes son lo que va después de la tubería, debe estar IMPORTADO en el .ts de producto. -->
    <h4>{{producto.descripcion | titlecase}}</h4>
    <img [src]="producto.imagenUrl" width="150" />
    
    <!-- Para cambiar la posicion del simbolo para la moneda, debe cambiar el locale de EEUU a EUROPEO -->
    <p>Precio: {{producto.precio | currency:'EUR'}}</p> <!-- El pipe coge el precio y lo convierte a otra cosa --> <!-- currency:'GBP' => libras -->
    
    <!-- Aquí estan todas los tipos de simbolos que se pueden poner del precio con CurrencyPipe: en.wikipedia.org/wiki/ISO_4217 -->
    <p>Fecha: {{producto.fechaLanzamiento | date: 'dd/MM/yyyy - hh:mm'}}</p> 
</div>

